@import url('./reset.css');


:root {
    --main-color: #774E64;
    --sub-color01:#825DA4;
    --sub-color02: #8C7FEC;
    --point-color01: #F881A2;
    --point-color02: #FFF5FE;
    --bg-color: #F1B3AA;
    --text-color: #333333;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 24px;
    font-weight: 500;
    width: 100%;
    background: var(--bg-color);
}

.container {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10%;
    margin-right: 10%;
    /* outline: 2px solid blue; */
}

h1 {
    font-size: 48px;
    font-family: 'Codystar', cursive;
    padding-top: 110px;
    margin-bottom: 10px;
}



/************* header ****/

header {
    font-family: 'Alegreya Sans', sans-serif;
    height: 100px;
    width: 100vw;
    /* background: var(--main-color); */
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    margin: 0 auto;
    border-bottom: 0.3px solid var(--point-color02);
}

.active{
    background-color: #774e64c9;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    border: none;
    -webkit-transition-duration:0.6s;
    -webkit-transition-timing-function:ease;
  }

  .deactive{
  
    background-color: transparent;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
  }

header nav ul {
    display: flex;
}

header nav ul li {
   margin-left: 65px;
}

header nav ul li a {
    color: var(--point-color02);
    font-size: 36px;
}

header nav ul li a:hover, a:active {
    color: var(--bg-color);
}





/********** main visual ****/

#main-visual {
    background: var(--sub-color01);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-visual .visual-box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#main-visual .visual-box h1 {
    font-family: 'Codystar', cursive;
    color: var(--point-color02);
    font-size: 128px;
    margin-bottom: 44px;
    letter-spacing: 0.17em;
}

#main-visual .visual-box p {
    color: var(--point-color02);
    font-size: 32px;
    margin-bottom: 44px;
}

#main-visual .visual-box .scroll-btn {
    background: var(--sub-color02);
    border-radius: 40px;
    height: 56px;
    text-align: center;
    padding: 0px 25px 0px 25px;
}

#main-visual .visual-box .scroll-btn p {
    color: var(--point-color02);
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 36px;
    padding-top: 7px;
}

#main-visual .visual-box .scroll-btn:hover {
    background: #8c7fec00;
    transition: 0.4s;
}

#main-visual .main-title {
    width: 100%;
    margin-top: -220px;
}

#main-visual .main-title h1 {
    position: relative;
    margin: 1em 0 0;
    /* font-family: 'Luckiest Guy', cursive; */
    color: var(--bg-color);
    z-index: 2;
}


    .center-outer {
    display: table;
    width: 100%;
    height: 100%;
    }
    
    .center-inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    }

    .bubbles {
        display: inline-block;
        font-family: arial;
        position: relative;
        }

    .individual-bubble {
        position: absolute;
        border-radius: 100%;
        bottom: 10px;
        background-color: #fff;
        z-index: 1;
        width: 100%;
        }







/************* about **********/

#container {
    /* outline: 1px solid red; */
    overflow: hidden;

}

#fullpage h1 {
    color: var(--main-color);
    text-align: center;
}

#fullpage .about01 {
    height: 100vh;
    width: 100vw;
    background: 
}

#fullpage .about01 .about-visual {
    display: flex;
    box-sizing: border-box;
}

#fullpage .about01 .about-visual img {
    width: 38%;
    height: 38%;
    margin-left: 135px;

}

#fullpage .about01-text-container {
    display: flex;
    flex-direction: column;
}

#fullpage .about-visual .textBox {
    margin-top: 60px;
    font-weight: 300;
    line-height: 46px;
    width: 500px;
    height: 282px;
    border-top: 1px solid var(--sub-color01);
    border-bottom: 1px solid var(--sub-color01);
    margin-left: 45px;
}

#fullpage .about-visual .textBox p {
    padding: 0px 20px 0px 20px;
}

#fullpage .text-about-container {
    margin-top: 20px;
    margin-bottom: 150px;
    text-align: left;
    margin-left: 70px;
    font-weight: 200;
    color: var(--main-color);
    text-align: left;
    font-size: 24px;
    line-height: 20px;
}

#fullpage .text-about-container span {
    font-weight: 700;
    color: var(--text-color);
}



#fullpage .myInfo {
    height: 100vh;
    background: var(--point-color01);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* outline: 5px solid red; */
}

#fullpage .myInfo .info-container {
    display: flex;
    justify-content: center;
    /* margin: 0 60px 0 60px; */
    
}

#fullpage .myInfo h2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 36px;
    color: #333;
    margin-bottom: 25px;
    text-align: center;
}


#fullpage .myInfo li {
    color: var(--point-color02);
    font-weight: 200;
    line-height: 30px;
    padding-left: 10px;
    padding-bottom: 17px;
}

#fullpage .myInfo li span {
    font-weight: 700;
    font-size: 16px;
}

#fullpage .myInfo li .circle {
    color: var(--sub-color01);
    font-size: 12px;
}

#fullpage .myInfo .infoBox {
    border: 4px solid var(--bg-color);
    margin-bottom: 10px;
    width: 330px;
    padding: 20px;
    height: 360px;
    border-radius: 5px;
    margin: 10px;
}




#fullpage .infoBar {
    height: 100vh;
    /* outline: 1px solid red; */
    width: 100%;
    margin-top: 0;
    padding-top: 0;
    background: #ededed;
}


.zt-span6 {
    padding-top: 190px;
    height: 100%;

}

.zt-skill-bar {
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    height: 30px;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 10%;

    background-color: rgba(0,0,0,0.1);

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
        -ms-border-radius: 2px;
            border-radius: 2px;

}

.zt-skill-bar * {
    -webkit-transition: all 0.55s ease;
      -moz-transition: all 0.55s ease;
       -ms-transition: all 0.55s ease;
        -o-transition: all 0.55s ease;
           transition: all 0.55s ease;
}

.zt-skill-bar div {
    background-color: var(--sub-color02);
    position: relative;
    padding-left: 25px;
    width: 0;
    height: 100%;

    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
}

.zt-skill-bar span {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 5px 0 10px;
    background-color: #393939;

    -webkit-border-radius: 0 2px 2px 0;
       -moz-border-radius: 0 2px 2px 0;
        -ms-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
}

.zt-skill-bar span:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 50%;
    left: -3px;
    margin-top: -3px;
    background-color: var(--point-color01);

    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}








/**************portfolio****/


#portfolio h1 {
    color: var(--main-color);
    text-align: center;
}

#portfolio .container {
    height: 100vh;
}

#portfolio .galleryBox {
    top: 130px;
    box-sizing: border-box;
    height: 600px;
    background: #fff;
    border: 6px solid var(--main-color);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#portfolio .galleryBox .galleryBtn {
    border: 1px solid var(--main-color);
    background: var(--point-color02);
    padding: 0px 20px 0px 20px;
    height: 40px;
    text-align: center;
    width: 253px;
    border-radius: 40px;
    font-weight: 300;
    margin: 40px 0px 40px 0px;
    margin-right: 90px;
}

#portfolio .galleryBox .galleryBtn p {
    margin-top: 2px;
}

#portfolio .galleryBox .galleryImg {
    margin-bottom: 125px;
}

#portfolio .gallery01 .galleryImg img {
    top: 125px;
    width: 26%;
    display: block;
    margin-right: 30px;
    position: absolute;
    right: 170px;
}

#portfolio .galleryBox .icons {
    position: absolute;
    top: -6px;
    right: 330px;
    padding: 40px;
    
}

#portfolio .galleryBox .icons i {
    padding: 4px;
    font-size: 32px;
}

#portfolio .galleryBox .textBox {
    line-height: 40px;
    position: absolute;
    left: 65px;
    top: 150px;
    font-size: 16px;
}

#portfolio .galleryBox .textBox .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    margin-left: 10px;
}

#portfolio .galleryBox .textBox .title i {
    color: var(--sub-color01);
    padding: 10px;
    font-size: 36px;
}

#portfolio .galleryBox .textBox .subText {
    padding: 0px 25px 0px 15px;
    font-weight: 200;
    color: var(--main-color);
    margin-bottom: 125px;
}

#portfolio .galleryBox .textBox .subText span {
    font-weight: 400;
    color: var(--text-color);
}

#portfolio .galleryBox {
    margin-bottom: 125px;
}


#portfolio .gallery02 .galleryImg img {
    top: 170px;
    display: block;
    margin-right: 30px;
    position: absolute;
    right: 5px;
}

#portfolio .gallery03 .galleryImg img {
    top: 170px;
    display: block;
    margin-right: 30px;
    position: absolute;
    right: 5px;
}









/***************contact*****/

#contact {
    height: 100vh;
    width: 100%;
}

#contact h1 {
    /* margin-top: 140px; */
    color: var(--main-color);
    text-align: center;
    margin-bottom: 130px;
}

#contact .contact-container {
    display: flex;
    justify-content: space-between;
}

#contact .contact-container .contactBox {
    background: var(--point-color02);
    border-radius: 10px;
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact .contact-container .contactBox p {
    font-size: 36px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-weight: 700;
}

#contact .contact-container .contactBox i {
    color: var(--sub-color01);
    font-size: 48px;
    padding: 5px;
}

#contact .contact-container .contactBox span {
    font-weight: 300;
    margin-bottom: 60px;
}




  





